.signup-page {
  position: relative;
  height: 100vh;
  background-color: rgb(74, 6, 20);
  overflow: hidden;
}

.signup-container {
  position: relative;
  z-index: 2;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.signup-form h2 {
  margin-bottom: 20px;
  text-align: center;
  color: rgb(74, 6, 20);
}

.signup-form input,
.signup-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.signup-form button {
  background-color: rgb(74, 6, 20);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: rgb(224, 6, 49);
}
